{% extends "layouts/layout.html" %}
{%block title%}
Your images
{%endblock%}
{% block content %}
<body>
	<style>
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
</style>
	<section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Patient profile</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">Patient name: {{user.ptname}}</p>
            <p class="lead">Patient id: {{user.ptid}}s</p>
            <p class="lead">Patient age: {{user.ptage}}</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">Welcome </p>
          </div>
        </div>
      </div>
    </section>
    <div class="row" style="overflow-y: scroll; height:800px;">
    	{% for hist in hists %}
    <div class="column">
    	<a href="/showone/{{id}}/{{hist}}">
    	<img src="/static/images/{{id}}/{{hist}}" alt="{{hist}}" >
		</a>
    </div>
   {% endfor %}
   
    </div>
  
          
	</body>

{% endblock %}
