{% extends "layouts/layout.html" %}
{%block title%}
Our custom title
{%endblock%}
{% block content %}
.wrapper {
	font-family: Verdana, sans-serif;
	margin: 0 auto;
  padding: 10px 30px;
  max-width: 600px;
}

<p> 3d image</p>
<!-- <img src="/static/images/{{id}}/rotation.gif" > -->
<div class="wrapper">

  
  <img id="gif-2" src="/static/images/{{id}}/rotation.gif" 
    onmouseover="document.getElementById('gif-2').src='/static/images/{{id}}/rotation.gif'" 
    onmouseout="document.getElementById('gif-2').src='/static/images/{{id}}/rotation.gif'" 
  />
</div>

<br>

{% autoescape false %}
   {{rcm}}
{% endautoescape %}
	

{% endblock %}