{% extends "layouts/layout.html" %}
{%block title%}
Upload page
{%endblock%}
{% block content %}
   <body>
      
         
         <div class="col-lg-8 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
            <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
            	<p>upload mhd and raw file, file name must be the same, patient id is file name without extension </p>
         		<input type = "file" name = "file" multiple/>
              	<div class="control-group">
                	<div class="form-group floating-label-form-group controls mb-0 pb-2">
                  		<label>Patient name</label>
                  		<input class="form-control" id="ptname" name = "ptname" type="text" placeholder="Patient name" required="required" data-validation-required-message="Please enter patient name.">
                  		<p class="help-block text-danger"></p>
                	</div>
              </div>
              
              
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Date of birth</label>
                  <input class="form-control" id="ptdob" name = "ptdob" type="text" placeholder="Patient date of birth" required="required" data-validation-required-message="Please enter patient date of birth.">
                  <p class="help-block text-danger"></p>
                </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Healthy</label>
                  <input class="form-control" id="pththy" name ="pththy" type="text" placeholder="Patient healthy" required="required" data-validation-required-message="Please enter patient healthy .">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Other diseases</label>
                  <input class="form-control" id="ptdis" name = "ptdis" type="text" placeholder="Other diseases" required="required" data-validation-required-message="Please enter other diseases.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Admitted to hospital</label>
                  <input class="form-control" id="pttohpt" name = "pttohpt" type="text" placeholder="Admitted to hospital" required="required" data-validation-required-message="Please enter Admitted to hospital.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Add patient profile</button>
              </div>
            </form>
          </div>
        </form>
       </div>
      
   </body>
{% endblock %}